.navBar {
  width: 100%;
  height: 85px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
}

.navIcon {
  color: #828282;
}

.mainContainer {
  padding-bottom: 2rem;
  margin-bottom: 100px;
}

.container {
  margin: 100px 130px;
}

.mainHeader {
  color: #0050b3;
  font-size: 42px;
}

.divider {
  border-top: 1px solid #e0e0e0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  min-width: 180px;
  min-height: 180px;
  background-color: #f2f2f2;
}

.hoverWrapper {
  transition: all 0.2s ease-in-out;
}

.hoverWrapper:hover {
  transform: scale(1.03);
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
  width: 100%;
  cursor: pointer;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
  width: 100%;
}

.cardTitle {
  color: #4f4f4f;
}

.createAt {
  color: #828282;
}

@media (max-width: 1024px) {
  .container {
    margin: 100px 50px;
  }
}

@media (max-width: 600px) {
  .cardBody {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    min-height: 180px;
    background-color: #f2f2f2;
  }
}

@media (max-width: 414px) {
  .container {
    margin: 50px 20px;
  }

  .mainHeader {
    font-size: 30px;
  }
}
